@font-face {
	font-family: Raleway-Medium;
	src: url("../fonts/Raleway-Medium.ttf");
  }
  
  @font-face {
	font-family: Raleway-Thin;
	src: url("../fonts/Raleway-Thin.ttf");
  }

body
{
	font-family: 'Raleway-Medium', sans-serif;
	margin: 0;
}
header 
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-between;
	padding-bottom: 3px;
    background-color: white;
    position: fixed;
    width: 100%;
	top: 0px;
	z-index: 2;
}
#logo
{
	padding-top: 25px;
	padding-left: 20px;
	width: 60%;
}
#barreMenu nav
{
	display: flex;
}
#barreMenu a
{
    font-size: 15px;
    color: black;
    text-decoration: none;
    padding: 25px 30px 0 30px;
}
#barreMenu a:hover 
{  
	color: #0065FC;
	border-top: 3px solid #0065FC;
	padding-top: 25px;
}
header > .inscription
{  
	color:#0065FC;
	font-weight: bold;
	text-decoration: none;
	width: 10%;
	padding-top: 25px;
}
main
{
	margin: auto;
	padding: 0 20px;
}
h1
{  
	font-size: 25px;
	font-weight: bold;
	margin-top: 10%;
}
.texteSite
{  
	font-size: 15px;
	font-family:'Raleway-Thin', sans-serif;
	font-weight: lighter;
	padding-left: 10px;
}
.menuHebergements
{
	font-family:'Raleway-Thin', sans-serif;
	font-weight: lighter;
}
.menuActivites
{
	font-family:'Raleway-Thin', sans-serif;
	font-weight: lighter;
}
#intro > .texteSite
{
	padding: 0px;
}

h2
{  
	font-size: 15px;
	font-family:'Raleway-Medium', sans-serif;
}
.rechercheVille
{
	display: flex;
	flex-direction: row;
}
.iconePosition
{
	background-color: #F2F2F2;
	padding: 16px 20px;
	border-radius: 10px 0px 0px 10px;
	box-sizing: border-box;
	margin-right: 0;
	width: 50px;

}
#ville
{
	border-top: 1px#F2F2F2 solid;
	border-bottom: 1px#F2F2F2 solid;
	border-left: none;
	border-right: none;
	padding: 16px 20px;
	font-size: 18px;
	box-sizing: border-box;
	margin: 0;
}
.iconeRecherche
{
	display: none;
}

::placeholder
{
	font-family: 'Raleway-Medium';
	font-size: 15px;
	font-weight: bold;
	color: black;
}

#boutonRecherche
{
	font-family: 'Raleway-Medium';
	background-color: #0065FC;
	color: white;
	border-radius: 0px 10px 10px 0px;
	padding: 16px 20px;
	font-size: 18px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	margin: 0;
	box-sizing: border-box;
}
#filtres
{
	display: flex;
	flex-direction: row;
	font-weight: bold;
	margin-top: 30px;
}
.blocFiltres
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.onglet
{
	border: 3px #F2F2F2 solid;
	border-radius: 20px;
	height: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
}
.onglet > label
{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.onglet > label > .icone
{
	color: #0065FC;
	background-color: #DEEBFF;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 90%;
	line-height: 40px;
	top: 50%;
	transform: translate(-10%,-10%);
}
label > .texteOnglet
{
	padding: 5px 20px 5px 5px;
}

input:hover ~ label
{
	color: dimgrey;
	background-color: #F2F2F2;
	border-radius: 20px;
	opacity: 1;
}
input:checked ~ label
{
	color: dimgrey;
	background-color: #F2F2F2;
	border-radius: 20px;
	opacity: 1;
}
input[type='radio'] 
{
	display: none;
}
.iconeInformation
{
	color:#0065FC ;
	border: 2px #F2F2F2 solid;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 90%;
	line-height: 30px;
}
#information
{
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}
#hebergements
{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 40px;
}
.titreBloc1 
{
	font-size: 25px;
	margin-left: 25px;
	margin-top: 40px;
}
.bloc1
{
	background-color: #F2F2F2;
	border-radius: 20px;
	width: 65%;
}
.bloc2
{
	background-color: #F2F2F2;
	border-radius: 20px;
	width: 30%;
}

#ongletHebergement1
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-between;
	width: 100%;
}

.hebergement1
{
	margin-bottom: 100px;
}

.texteHebergement
{
	margin: 0;
	font-family: 'Raleway-Thin';
}

.imageBloc1
{
		width: 258px;
		height: 218px;
		margin: 0 auto;
		background-color: white;
		border-radius: 20px;
		box-shadow: 0px 10px 10px #C0C0C0;
}
.imageBloc1 > img
{
	width: 250px;
	height: 130px;
	border-radius: 20px 20px 0 0;
	border: 4px white solid;
	object-fit: cover;
}
.etoiles
{
	padding-top: 10px;
	display: flex;
	flex-direction: row;
}
.etoiles > .etoileBleue
{
	color: #0065FC;
}

.etoiles > .etoileGrise
{
	color: #F2F2F2;
}

.imageBloc1 > .legendeBloc1
{
  position: absolute;
  width: 250px;
  height: 80px;
  background-color:white;
  color: black;
  text-align: left;
  padding-left: 8px;
  border-radius: 0 0 20px 20px;
  line-height: 5px;
}

.afficherPlus
{
	font-weight: bold;
	margin-left: 30px;
	margin-bottom: 30px;
	display: block;
}

#onglethebergement2
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin:0 auto;
}
.hebergement2
{
	text-decoration: none;
	color: black;
	width: 100%;
	margin-bottom: 50px;
}
.titreBloc2
{
	font-size: 25px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.imageBloc2
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	box-shadow: 0px 10px 10px #C0C0C0;
	border-radius: 20px;
	width: 316px;
	justify-content: center;
}
.imageBloc2 > img
{
	width: 130px;
	height: 120px;
	border-radius: 20px 0 0 20px;
	border: 4px white solid;
	object-fit: cover;
}
.legendeDroite
{
	border-radius: 0 20px 20px 0;
	background-color: white;
	text-align: left;
	height: 128px;
	width: 178px;
}
.legendeDroite > .legendeBloc2
{
	width: auto;
	height: auto;
	line-height: 17px;
	text-decoration: none;
}
#activites
{
	width: auto;
}
.titreActivites
{
	font-size: 25px;
}
#blocActivites
{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
}
#blocActivites > .colonnes
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.ongletActivite
{	
	text-decoration: none;
}
.imageActivite1
{
	box-shadow: 0px 10px 10px #C0C0C0;
	border-radius: 20px;
	margin: 0 0 30px 0;
}
.imageActivite2
{
	box-shadow: 0px 10px 10px #C0C0C0;
	border-radius: 20px;
	margin: 0 0 30px 0;
}
.imageActivite3
{
	box-shadow: 0px 10px 10px #C0C0C0;
	border-radius: 20px;
	margin: 0 0 30px 0;
}
.imageActivite4
{
	box-shadow: 0px 10px 10px #C0C0C0;
	border-radius: 20px;
	margin: 0 0 30px 0;
}

.imageActivite1 img
{
	border-radius: 20px 20px 0 0;	
	width: 300px;
	height: 500px;
	object-fit: cover;
}

.imageActivite2 img
{
	border-radius: 20px 20px 0 0;
	width: 300px;
	height: 250px;
	object-fit: cover;
}
.imageActivite3 img
{
	border-radius: 20px 20px 0 0;
	width: 300px;
	height: 150px;
	object-fit: cover;
}
.imageActivite4 img
{
	border-radius: 20px 20px 0 0;
	width: 300px;
	height: 200px;
	object-fit: cover;
}

.legendeActivite
{
  width: 300px;
  height: 40px;
  background-color:white;
  color: black;
  text-align: left;
  border-radius: 0 0 20px 20px;
}
.titres
{
	padding-left: 10px;
}
footer
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #F2F2F2;
	padding: 40px;
	line-height: 30px;
	font-family: 'Raleway-Thin';
}
#footer3
{
	margin-right: 300px;
}

p span
{
	font-weight: bold;
	font-family: 'Raleway-Medium';
}

/***** RESPONSIVE ***** */
@media only screen and (max-device-width: 1024px)
{
	body
	{	
		width: 100%;
		margin: 0;
	}
	header
	{
		width: auto;
		position: initial;
	}
	#barreMenu a
	{
		font-size: 15px;
		color: black;
		text-decoration: none;
		padding: 25px 15px 0 15px;
	}
	.inscription
	{
		margin-left: 30px;
	}
	main
	{
		margin: auto;
		padding: 0;
	}
	#logo
	{
		padding-left: 20px;
		width: 50%;
	}
	#intro
	{
		margin-top: 10%;
		margin-left: 20px;
	}
	.rechercheVille
	{
		justify-content: center;
	}
	#filtres
	{
		display: flex;
		flex-direction: row;
		margin-left: 20px;
	}
	#information
	{
		margin-left: 20px;
	}
	#hebergements
	{
		flex-direction: column-reverse;
	}
	.bloc2
	{
		width: auto;
		border-radius: 0;
	}
	.hebergement2
	{
		display: flex;
		justify-content: center;
	}
	.bloc1
	{
		width: auto;
		background-color: white;
	}
	.imageBloc2
	{
		width: 350px;
		height: 208px;
		flex-wrap: nowrap;
	}
	.imageBloc2 > img
	{
		object-fit: cover;
		height: 200px;
	}
	.imageBloc2 > .legendeDroite
	{
		height: 208px;
		width: 100%;
	}
	.titreActivites
	{
		margin-left: 20px;
	}
	#blocActivites
	{
		justify-content: space-around;
	}
	#footer3
	{
		margin: 0;
	}
}
@media only screen and (max-device-width: 759px)
{
	header
	{
		padding-top: 20px;
		width: 100%;
		display: grid;
		align-items: center;
		height: 100px;
		grid-template-columns: 50% 50%;
		grid-template-rows: 60px;
		grid-template-areas: "logo inscription"
							"menu menu";	
	}
	#logo
	{
		padding: 0;
		grid-area: logo;
		text-align: center;
		width: auto;
	}
	#barreMenu
	{
		grid-area: menu;
		padding: 0;
		display: grid;
		text-align: center;
		width: 100%;
		justify-content: none;
	}
	#barreMenu a
	{
		padding: 0;
	}
	#barreMenu nav
	{
		padding: 0;
		text-align: center;
	}
	#barreMenu a:hover 
	{  
		border-top: none;
		border-bottom: 3px solid #0065FC;
		padding-bottom: 15px;
		padding-top: 0;
	}
	header > .inscription
	{
		order: -1;
		text-align: center;
		grid-area: inscription;
		padding-top: 0;
		text-decoration: none;
		color: #0065FC;
		width: auto;
		margin: 0;

	}
	.menuActivites
	{
		text-align: center;
		width: 50%;
	}
	.menuHebergements
	{
		text-align: center;
		width: 50%;
	}	
	#intro
	{
		margin-top: 40px;
	}
	h1
	{
		font-size: 20px;
	}
	#recherche form
	{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	#boutonRecherche
	{
		display: none;
	}
	.iconeRecherche
	{
		background-color: #0065FC;
		color: white;
		border-radius: 10px;
		padding: 16px 20px;
		font-family:'Raleway-Medium', sans-serif;
		font-size: 15px;
		font-weight: bold;
		border: none;
		cursor: pointer;
		display: block;
	}
	#filtres
	{
		flex-direction: column;
		margin-top: 30px;
	}
	.blocFiltres
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 10px;
	}
	#hebergements
	{
		flex-direction: column-reverse;
		width: 100%;
	}
	.bloc1
	{
		background-color: white;
	}
	.imageBloc2
	{
		width: 300px;
		height: 158px;
		flex-wrap: nowrap;
	}
	.imageBloc2 > img
	{
		object-fit: cover;
		height: 150px;
	}
	.imageBloc2 > .legendeDroite
	{
		height: 158px;
	}
	#blocActivites
	{
		justify-content: center;
	}
	.imageActivite1 > img
	{
		border-radius: 20px 20px 0 0;	
		width: 300px;
		height: 150px;
		object-fit: cover;
	}
	.imageActivite2 img
	{
		border-radius: 20px 20px 0 0;	
		width: 300px;
		height: 150px;
		object-fit: cover;
	}
	.imageActivite3 img
	{
		border-radius: 20px 20px 0 0;	
		width: 300px;
		height: 150px;
		object-fit: cover;
	}
	.imageActivite4 img
	{
		border-radius: 20px 20px 0 0;	
		width: 300px;
		height: 150px;
		object-fit: cover;
	}
	footer
	{
		flex-direction: column;
		flex-wrap: wrap;
	}
}